@charset "UTF-8";

/* de mais dispositivos */

/* de acordo o W3C...
typical device breakpoints 
-----------------------------
pequenas telas: até 600px
celular: de 600px até 768px
tablet: de 768px até 992px
desktop: de 992px até 1200px
grandes telas: acima de 1200px
*/

@media screen and (min-width: 768px) {
    span#burguer{
        /* esconde o hamburguer */
        display:none;
    }

    menu{
        /* exibe o menu */
        display: block;
    }
    
    menu > ul > li {
        display: inline-block;
    }

    main{
        width: 768px; /* área de leitura fixa */
    }
}