@charset "UTF-8";
@import "stile.css";

/* de mais dispositivos */

/* de acordo o W3C...
typical device breakpoints 
-----------------------------
pequenas telas: até 600px
celular: de 600px até 768px
tablet: de 768px até 992px
desktop: de 992px até 1200px
grandes telas: acima de 1200px
*/

@media screen and (min-width: 768px) and (max-width: 992px)
{
    /* tablet */

    body{
        background-image: linear-gradient(to top, var(--cor-branca), var(--cor-verde));
    }

    section#login{
        width: 80vw;
    }

    section#login > div#imagem{
        float: left;
        background-size: cover;
        background-position: left bottom; /* iniciar a exibição da imagem a partir da ... */    
        height: 100%;
        width: 30%;
    }

    section#login > div#formulario{
        float: right;
        width: 60%;
        padding: 20px;
    }
}


@media screen and (min-width: 992px)
{
    /* telas maiores */

    body{
        background-image: linear-gradient(to top, var(--cor-verde), var(--cor-branca));
    }
    
    section#login{
        width: 900px; /* para a tela de login não ficar enorme */
    }

    section#login > div#imagem{
        float: right;
        background-size: cover;
        background-position: left bottom; /* iniciar a exibição da imagem a partir da ... */    
        height: 100%;
        width: 50%;
    }

    section#login > div#formulario{
        float: left;
        width: 50%;
        padding: 40px;
    }
}