@charset "UTF-8";

/* mobile first */

:root{
    --cor-verde: #49a09d;
    --cor-verde-hover: #49a09d95;
    --cor-verde-input: #d1f7f6;
    --cor-lilas: #b0adb1;
    --cor-branca: white;
    --cor-preta: black;
    --fonte1: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*{
    font-family: var(--fonte1);
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; /* a borda faz parte da conta de largura */
}

body, html{
    background-color: var(--cor-lilas);
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute; /* posicionar no centro da tela */
    top: 50%;   /* posicionar no centro da tela */
    left: 50%;  /* posicionar no centro da tela */
    transform: translate(-50%, -50%);   /* posicionar no centro da tela */

    overflow: hidden; /* esconder tudo que tiver passado da borda */

    background-color: var(--cor-branca);
    width: 300px;
    height: 520px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px black; /* sem deslocamento e com espalhamento de 10px */

    transition: width 0.51s, height 0.51s; /* transição no tamanho da tela de login */
    transition-timing-function: ease;
}

section#login > div#imagem{
    display: block;
    background: var(--cor-lilas) url(../imagens/natureza.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom; /* iniciar a exibição da imagem a partir da ... */
    height: 200px;
}

section#login > div#formulario{
    display: block;
    padding: 10px;
}

div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

/* campos do formulário */
form > div.divCampo{
    display: block;
    width: 100%;
    height: 40px;
    background-color: var(--cor-lilas);
    color: var(--cor-preta);
    border: none;
    border-radius: 8px;
    margin: 5px 0px;
}

form > div.divCampo > label{
    display: none;
}

form > div.divCampo > span{
    /*background-color: var(--cor-preta);*/
    color: var(--cor-branca);
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

form > div.divCampo > input{
    background-color: var(--cor-verde-input);
    font-size: 1em;
    width: calc(100% - 46px);
    height: 95%;
    transform: translateY(-11px); /* puxando o campo input pra cima junto a DIV */
    padding: 4px;
    border: none;
    border-radius: 8px;
}

/* mesma formatação para os objetos da classe botão */
.botao {    
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--cor-verde);
    color: var(--cor-branca);
    border: none;
    border-radius: 5px;
    margin: 5px 0px;
    cursor: pointer;
}

/*form > div > input[type=submit] {*/
form > div.divBotao > input, a {    
    display: block;
}

/*form > div > input[type=submit]:hover {*/
form > div.divBotao > input:hover, a:hover {        
    background-color: var(--cor-verde-hover);
    color: var(--cor-preta);
}

form > div.divBotao > a {    
    text-decoration: none;
    text-align: center;
}

form > div.divBotao > a > span {
    font-size: 2em;
    /*width: 40px;
    padding: 5px;*/
}